.login-registerForm {
    width: 100%;
    height: 100%;
}

.login-registerForm-Wrapper {
    background-color: white;
    /* padding: 15px; */
    border-radius: 10px;
    /* height: 87%; */
}

.mat-dialog-container#mat-dialog-0 {
    width: 433px !important;
}


.modal-body {
    text-align: left !important;
}

.modal-title {
    font-size: 18px;
}

.modal-header {
    margin-bottom: 15px;
}

.btn-register {
    border-radius: 3rem;
    color: #fff;
    font-family: HelveticaNeueLight;
    text-align: center;
    height: 2.375rem;
    line-height: 2.1875rem;
    font-size: 1rem;
    letter-spacing: 2px;
    border: 1px solid#0620c0;
    background: #0620c0;
    padding: 0 2.5rem;
}

::ng-deep .mat-dialog-container {
    padding: 16px !important;
    width: 97%;
}

.info .info-label {
    display: block !important;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0 0px 0;
}

.info input {
    display: block;
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #b7b7b7;
    outline: none;
}

.space-between {
    text-align: right;
    margin: 20px 0 15px 0;
}

.space-between .forgotpass {
    font-size: 15px;
    text-decoration: underline;
}

.wrapperBox button {
    width: 100%;
    border-radius: 3.125rem;
    color: #fff;
    font-family: HelveticaNeueLight;
    text-align: center;
    height: 2.375rem;
    line-height: 2.1875rem;
    font-size: 1rem;
    letter-spacing: 2px;
    border: 1px solid#0620c0;
    background: #0620c0;
    padding: 0 3.75rem;
}

.divider {
    text-align: center;
    padding: 15px 0;
}

span.ui-toolkit:after {
    position: absolute;
    content: "";
    left: 49px;
    right: 0px;
    width: 150px;
    background-color: #d8d8d8;
    height: 1px;
    bottom: 0;
    top: 12px;
}

span.ui-toolkit:before {
    position: absolute;
    content: "";

    right: 49px;
    width: 150px;
    background-color: #d8d8d8;
    height: 1px;
    bottom: 0;
    top: 12px;
}

span.ui-toolkit {
    position: relative;
}

.btn-google {
    width: 100%;
    border-radius: 3.125rem;
    font-family: HelveticaNeueLight;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    line-height: 2.1875rem;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #000000 !important;
}
::ng-deep.cdk-global-overlay-wrapper{
    margin-top: -32px !important;
}
.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.btn-facebook {
    width: 100%;
    border-radius: 3.125rem;
    font-family: HelveticaNeueLight;
    text-align: center;
    color: black;
    line-height: 2.1875rem;
    font-size: 1rem;
    padding: 5px;

    border: 1px solid#000000 !important;
    margin-bottom: 13px;
}

.fa {
    font-size: 25px;
    color: #dbdbdb
}

button {
    border: none !important;
    background: transparent;
}

.form-group a {
    color: rgba(0, 114, 114, 0.91);
    font-weight: 600;
    font-size: 14px;
}

.form-group p {
    font-size: 15px;
}
p.font{
    margin-bottom: 0 !important;
}

/* login Drop-Down */


.dropdown {
    display: inline;
}

.dropdown-menu.show {
    width: 241px;
    text-align: center;
}

.dropdown-toggle::after {
    display: none;
}

li .a {
    text-decoration: none;
    display: flex;
    color: #777;
    letter-spacing: .05625rem;
    font-size: .875rem;
    font-family: HelveticaNeueLight;
    font-weight: 300;
    margin: 5px 0;
}

.fullName {
    display: block;
}

.dropdown-item {
    display: flex;
}

.iconss {
    font-size: 25px;
    height: 20px;
    width: 30px;
    margin-right: 5px;
}

li.dropdown-item.avatar {
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.iconAvtar {
    font-size: 33px;
    height: 20px;
    width: 30px;
    margin-right: 10px;
}

.mgl10 {
    text-align: center;
    color: #777;
    font-size: .875rem;
}