<section class="section pdr20 pdl20">
  <div class="box" style="max-width: 600px;margin: 0 auto;">
    <div class="box_title">
      Change your password
    </div>
    <form class="box_content">
      <div class="wrapperBox mgb20">
        <p>Enter your email address, we will send you a link to reset it.</p>
      </div>
      <div class="wrapperBox mgb30">
        <div class="info row">
          <label class="bold mgb10">Email*</label>
          <input type="email" />

        </div>
      </div>
      <div class="btnVendeur mgt20">
        <button type="submit" class="linkMore blue" style="width: 150px;">send</button>
      </div>
    </form>
  </div>
</section>