<!-- <section class="section" id="account">
    <div class="container-account">
        <h1 class="icon icon-account mainTitle">COMMANDES ET AVIS</h1>
        <div class="wrapper-account">
            <div class="left-navigation"> -->
                <!-- <mat-tab-group>
                    <mat-tab label="First"> 
                        Content 1 
                    </mat-tab>
                    <mat-tab label="Second"> Content 2 </mat-tab>
                    <mat-tab label="Third"> Content 3 </mat-tab>
                </mat-tab-group> -->
                <!-- <ul class="tab-navigation">
                    <li class=" icon-setting" [class.color]="id === 'setting'" #setting (click)="tab('setting')">Commandes et avis</li>
                    <li class="icon-command" [class.color]="id === 'command'" #command (click)="tab('command')">Paramètres</li>
                    <li class=" icon-wallet" [class.color]="id === 'wallet'" #wallet (click)="tab('wallet')">Portefeuille (0 €)</li>
                    <li class="icon-signout" (click)="tab('logout')"  #logout [class.color]="id === 'logout'" >Se déconnecter</li>
                </ul>
            </div>
            <div class="right-content">
                <div  *ngIf="id === 'setting'" class="tab-navigation-content "> -->
                    <!-- <app-setting></app-setting> -->
                    <!-- <h1>sdgjshdjg</h1>

                 </div>
                 <div  *ngIf="id === 'command'" class="tab-navigation-content"> -->
                    <!-- <app-commande></app-commande> -->
                    <!-- <h1>shaaaaaaaaaaaaaaaaaaaaaaaaaaaaag</h1>
                  </div>
                  <div  *ngIf="id === 'wallet'" class="tab-navigation-content"> -->
                    <!-- <app-wallet [wallet]='wallet'></app-wallet> -->
                    <!-- <h1>4444444444444444444444</h1>
                </div>
            </div>
        </div>
    </div>
</section> -->
<router-outlet (activate)="onActivate($event)"></router-outlet> 