.tabs {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    position: relative;
}

.tabs::after {
    top: 39px;
    content: "";
    position: absolute;
    left: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    z-index: -1;
   
    border-top: 0.0625rem solid #c1c1c1;

}

.color {
    background-color: #efefef !important;
}

.tabs .icon-commandes {
    background: none;
    color: #777;
    padding: 0.425rem;
    cursor: pointer;
    font-family: HelveticaNeueLight;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.625rem 0.625rem 0 0;
    border: 0.0625rem solid #c1c1c1;
    border-bottom: none;
    width: 13.75rem;

}

.tabs .icon-litiges {
    background: none;
    color: #777;
    padding: 0.425rem;
    cursor: pointer;
    font-family: HelveticaNeueLight;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.625rem 0.625rem 0 0;
    border: 0.0625rem solid #c1c1c1;
    border-bottom: none;
    width: 13.75rem;

}