<div class="box-title">
    <div class="box-header-password">
        <h4>Mot de passe</h4>
    </div>
    <div class="password-wrapper">
        <mat-form-field appearance="fill" floatLabel="auto">
            <mat-label> Current Password <span class="star">*</span></mat-label>
            <input matInput >
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="auto">
            <mat-label>New Password1 <span class="star">*</span></mat-label>
            <input matInput >
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="auto">
            <mat-label>New Password2 <span class="star">*</span></mat-label>
            <input matInput >
        </mat-form-field>
        
        <button mat-raised-button color="primary">Modifier</button>
    </div>
</div>