<div class=" home">
  <div class="filter ">
    <div class="filter-left">
      <a href="" class="filter-button">Sélectionnez par région</a>
    </div>
    <div class="filter-right">
      <a href="" class="filter-button">Sélectionnez par pays</a>
    </div>
  </div>
  <div class="about">
    
    <h2 class="texth2">Noodra, c’est quoi ?</h2>
    <a class="texta" routerLink="/historie">Une histoire, ça vous tente ?</a>
    <div class="aboutSection">
      <div class="aboutSectionLeft">
        <h4 class="textLefth4">OFFREZ VOUS UN <br /> TOUR DU MONDE</h4>
        <p class="textLeftp">Plus besoin de faire le tour du monde pour s’offrir les spécialités de chaque pays.
          Avec Noodra, le monde est à portée de main.</p>
      </div>
      <div class="aboutSectionCenter">
        <h4 class="textCenterh4">QU’EST-CE QUE <br /> SIGNIFIE NOODRA?</h4>
        <p class="textCenterp">Le mot Noodra signifie « rareté ». Chez Noodra, chacun des produits que vous
          trouverez sont rares et uniques.</p>
      </div>
      <div class="aboutSectionRight">
        <h4 class="textRighth4">METTRE EN AVANT <br />LES CULTURES LOCALES</h4>
        <p class="textRightp">Nos produits ? Ce sont les vôtres. Ils sont conçus par des créateurs indépendants,
          venant des 4 coins du monde. Chaque produit est unique. Chaque produit a une histoire.</p>
      </div>
    </div>

    <h2 class="aboutTexth2">Une question ? On vous répond.</h2>
    <div class="buttonSection">
      <button>Découvrez notre FAQ</button>
    </div>
  </div>
  <h2 class="new-title">LES NOUVEAUTÉS</h2>
  <div class="crousel-box-owl">
  <div class="crousel-main">
   
    <owl-carousel-o [options]="customOptions" class="crousel-owl main-crousel">
      <ng-template carouselSlide class="crousel-owl-wrapper">
        <div class="slide slide-wrapper-1">
          <img class="image-crousel" src="/assets/product.jpg" alt="img 1">
          <h3 class="price">28 €</h3>
          <h4 class="title-product">Babouche Marocaine</h4>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-wrapper-2">
          <img class="image-crousel" src="/assets/product1.png" alt="img 2">
          
          <h3 class="price">28 €</h3>
          <h4 class="title-product">Babouche Marocaine</h4>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-wrapper-3">
          <img class="image-crousel" src="/assets/product2.png" alt="img 3">
          
          <h3 class="price">28 €</h3>
          <h4 class="title-product">Babouche Marocaine</h4>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-wrapper-4">
          <img class="image-crousel" src="/assets/product3.png" alt="img 4">
          
          <h3 class="price">28 €</h3>
          <h4 class="title-product">Babouche Marocaine</h4>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-wrapper-5">
          <img class="image-crousel" src="/assets/product4.png" alt="img 5">
          
          <h3 class="price">28 €</h3>
          <h4 class="title-product">Babouche Marocaine</h4>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <img class="image-crousel" src="/assets/banner-shop.jpg" alt="img6">
          <h3 class="price">28 €</h3>
          <h4 class="title-product">Babouche Marocaine</h4>
        </div>
      </ng-template>
      
    </owl-carousel-o>
  </div>
</div>
 
    <div class="sellar">
      <h1 class="sellarHeading">COMMENT DEVENIR VENDEUR ET PROPOSER <br /> MES PRODUITS SUR NOODRA ?</h1>
      <ul class="stellarUl">
        <li class="stellarli"> <img src=" /assets/num-1.svg" alt="" width="40px"> Créer une ou plusieurs boutiques
          gratuitement</li>
        <li class="stellarli"> <img src=" /assets/num-2.svg" alt="" width="40px">Alimenter sa/ses boutique(s) de
          produit(s)</li>
        <li class="stellarli"> <img src=" /assets/num-3.svg" alt="" width="40px">Mettre en ligne sa boutique</li>
      </ul>
      <p class="sellarparagraphFir">Découvrir mes avantages en tant que vendeur sur Noodra.</p>
      <p class="sellarparagraphSec">C’est aussi simple que ça de devenir vendeur chez Noodra. <br />
        Ainsi, vous pourrez profiter d’une clientèle internationale pour vendre vos produits.</p>
    </div>
    <div class="abonnement">
      <div class="abonnementLeft">
        <h1 class="abonnementLeftHeading">SUIVEZ-NOUS SUR INSTAGRAM</h1>
        <p class="abonnementLeftParagraph">Pour découvrir l’actualité de Noodra ainsi que nos dernières nouveautés
          en exclusivité.</p>
        <div class="abonnementLeftbuttonSection">
          <button>Je m’abonne</button>
        </div>
      </div>
      <div class="abonnementRight">
        <img src="/assets/iphone.jpg" alt="" class="abonnementRightImg">
      </div>
    </div>
    <div class="newsletter">
      <h2 class="newslettertittle">
        Recevez des offres exclusives en vous abonnant à la <br /> Newsletter.</h2>
      <form class="newsletterForm">
        <input type="text" class="newsletterInput" placeholder="Renseignez votre e-mail." />
        <button class="newsletterButton">Souscription
        </button>
      </form>
    </div>
  </div>
  <!-- <app-login-or-register></app-login-or-register> -->