<!-- <div class="box">
    <div class="box_title">
        <h2>Contact</h2>
    </div>
    <form>
        <div class="box_content">
            <ng-container>
                <div class="selector">
                    <div class="selectordiv">
                        <label for="text" class="bold">Sexe
                            <span class="require">*</span>
                        </label>
                        <div class="radioMale">
                            <input type="radio" value="1" name="gender">
                            <label for="male" class="txtRadio">Homme</label>
                        </div>
                        <div class="radioFemale">
                            <input type="radio" value="2" name="gender">
                            <label for="female" class="txtRadio">Femme</label>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="infoLeft">
                        <label for="text" class="bolder">Prénom
                            <span class="require">*</span>
                        </label>
                        <input type="text" class="info_input">
                    </div>
                    <div class="infoRight">
                        <label for="text" class="bolder">Nom
                            <span class="require">*</span>
                        </label>
                        <input type="text" class="info_input">
                    </div>
                </div>
                <div class="info">
                    <div class="infoLeft">
                        <label for="text" class="bolder">Numéro de téléphone
                            <span class="require">*</span>
                        </label>
                        <input type="text" class="info_input">
                    </div>
                    <div class="infoRight">
                        <label for="text" class="bolder">Date de naissance
                            <span class="require">*</span>
                        </label>
                        <input type="date" class="info_input">
                    </div>
                </div>
                <div class="dropDown">
                    <label for="text" class="bolder">Date de naissance
                        <span class="require">*</span>
                    </label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Espagne</option>
                        <option value="1">Allemagne</option>
                        <option value="2">Italie</option>
                        <option value="3">France</option>
                    </select>
                </div>
            </ng-container>
        </div>
    </form>
</div> -->


<div class="wallet-second">
    <div class="wallet-second-heading">
        <h4>Portefeuille</h4>
    </div>
    <div class="wallet-second-wrapper">
        <mat-form-field appearance="standard" class="wallet-input">
            <mat-label >Shop Currency</mat-label>
            <input matInput  required>
            <mat-icon matSuffix>EUR</mat-icon>
            <mat-hint>This is the gilbal currency of your when you selling your product</mat-hint>
          </mat-form-field>
    </div>
</div>