<!-- <div class="box">
    <div class="boxTitle">
        <h2>Boutique</h2>
    </div>
    <form>
        <ng-container>
            <div class="boxContent">
                <div class="wrapperBox">
                    <div class="info">
                        <label class="infolabel">N° de mobile <span>*</span></label>
                        <input type="text">
                        <span class="small">Pour recevoir un SMS à chaque nouvelle vente.</span>
                    </div>
                </div>
                <div class="wrapperBoxs">
                    <div class="inforadioLeft">
                        <label for="text" class="infolang">Langue <span>*</span></label>
                        <div class="half">
                            <div class="item">
                               <input type="radio" id="1" class="radioButton">
                                <label class="radioLabel" for="text" >
                                    Français
                                </label>
                            </div>
                            <div class="item">
                                <input type="radio" id="1" checked class="radioButton">
                                <label class="radioLabel" for="text">
                                    Anglais
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="inforadioRight">
                        <label for="text" class="infolang">Monnaie <span>*</span></label>
                        <div class="half">
                            <div class="item">
                               <input type="radio" id="1" class="radioButton">
                                <label class="radioLabel" for="text" >
                                    $ Dollar US
                                </label>
                            </div>
                            <div class="item">
                                <input type="radio" id="1" checked class="radioButton">
                                <label class="radioLabel" for="text">
                                    € Euro
                                </label>
                            </div>
                            <div class="item">
                                <input type="radio" id="1" checked class="radioButton">
                                <label class="radioLabel" for="text">
                                    £ Livre Sterling
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </ng-container>
    </form>
</div> -->

<div class="address-second">
    <div class="address-second-left">
        <div class="address-second-heading">
            <h4>Address de la boutique</h4>
        </div>
        <div class="address-second-wrapper">
            <mat-form-field class="example-full-width" appearance="fill" class="address-second-input">
                <mat-label>First name</mat-label>
                <input matInput>
                <mat-hint align="start">Le pays de addresse</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill" class="address-second-input">
                <mat-label>Address</mat-label>
                <textarea matInput></textarea>
                <mat-hint align="start">Le pays de addresse</mat-hint>

            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill" class="address-second-input">
                <mat-label>Address</mat-label>
                <textarea matInput></textarea>
                <mat-hint align="start">Le pays de addresse</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill" class="address-second-input">
                <mat-label>Postal Code</mat-label>
                <input matInput #postalCode maxlength="8">
                <mat-hint>Le pays de addresse</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill" class="address-second-input">
                <mat-label>First name</mat-label>
                <input matInput>
                <mat-hint align="start">Le pays de addresse</mat-hint>

            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill" class="address-second-input">
                <mat-label>First name</mat-label>
                <input matInput>
                <mat-hint align="start">Le pays de addresse</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="address-second-input">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
                <mat-hint align="start">Le pays de addresse</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div class="address-second-right">
        <div class="address-second-heading">
            <h4>terms</h4>
        </div>
        <div class="address-second-right-wrapper">
            <mat-checkbox class="address-second-input">
                <h5>Traduire automequiment description,mots cles</h5>
            </mat-checkbox>
            <mat-form-field class="address-second-input" appearance="fill">
                <mat-label>Propres termes (English)</mat-label>
                <input matInput>
                <mat-hint align="start">ajouter plus de conditions generals specifiques a votre boutique</mat-hint>

            </mat-form-field>

            <mat-checkbox class="address-second-input">
                <h5>Refundable</h5>
            </mat-checkbox>
            <mat-form-field class="address-second-input" appearance="fill">
                <mat-label>Jours personalise</mat-label>
                <input matInput >
                <mat-hint align="start">jours apres reception du colis</mat-hint>
            </mat-form-field>
            <mat-checkbox class="address-second-input-hint">
                <h5>Remnrouse </h5>
            </mat-checkbox>
            <mat-hint align="start">Le pays de addresse</mat-hint>
            <mat-checkbox class="address-second-input">
                <h5>Refundable</h5>
            </mat-checkbox>
            <mat-checkbox class="address-second-input">
                <h5>Refundable</h5>
            </mat-checkbox>
            <mat-form-field class="address-second-input" appearance="fill">
                <mat-label>Jours Echangeble</mat-label>
                <input matInput>
                <mat-hint align="start">Le pays de addresse</mat-hint>
            </mat-form-field>
            <mat-radio-group aria-label="Select an option">
                <mat-checkbox class="address-second-input">
                    <h5>Refundable</h5>
                </mat-checkbox>
            </mat-radio-group>
            <mat-hint align="start">Le pays de addresse</mat-hint>


        </div>
    </div>
</div>