.tabs {
    width: 100%;
margin: 11rem 0;
}

.tabs ul {
    display: flex;
    list-style: none;
}

.color{
    background-color: #efefef !important;
}

.tabs ul li {
    /* padding: 10px; */
    /* display: inline-flex; */
    background: none;
    color: #777;
    padding: 0.5rem;
    cursor: pointer;
    font-family: HelveticaNeueLight;
    font-weight: 300;
    /* position: relative; */
    font-size: 1rem;
    text-align: center;
    /* flex-basis: 13.75rem; */
    border-radius: 0.625rem 0.625rem 0 0;
    border: 0.0625rem solid #c1c1c1;
    border-bottom: none;
    width: 13.75rem;
  

}

.number {
    display: inline-block;
    width: 1.5625rem;
    height: 1.5625rem;
    -moz-border-radius: 3.125rem;
    border-radius: 3.125rem;
    font-family: HelveticaNeueMedium;
    font-weight: 500;
    background: #f8c43d;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: .75rem;
    margin-left: 45px;
}

.content {
    padding: 0px 32px;
    margin-top: -16px;
}

.content-value {
    height: 25rem;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: -1;

}

.content-value::after {
    background: url(/assets/articles.svg) no-repeat;
    background-size: 15%;
    background-position: center;
    position: absolute;
    content: '';
    width: 100%;
    height: 25rem;
    opacity: 0.2;
    left: 0;
    top: 0;
    z-index: 10;
}
.icon {
    position: relative;
}
.icon-favoris:before {
    content: "\f004";
}

.icon:before {
    position: absolute;
    top: 50%;
   
    transform: translateY(-50%);
    font-size: 1rem;
    font-family: 'Font Awesome 5 Pro';
    color: #f8c43d;
    left: -30px;
}
.mainTitle:after {
    content: "";
    position: absolute;
    left: 0;
    width: 3.125rem;
    height: 0.1875rem;
    background: #f8c43d;
    bottom: 0;
}
.mainTitle {
    color: #1125ba;
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
    font-size: 1.375rem;
    line-height: 2.5625rem;
    font-family: HelveticaNeueBold;
    font-weight: 700;
    margin-bottom: 2.5rem;
    position: relative;
    margin-left: 3.675rem;
}
.content-value:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    border-top: 0.0625rem solid #c1c1c1;
}

.content-values {
    height: 25rem;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: -1;

}

.content-values ::after {
    background: url(/assets/boutiques.svg) no-repeat;
    background-size: 15%;
    background-position: center;
    position: absolute;
    content: '';
    width: 100%;
    height: 25rem;
    opacity: 0.2;
    left: 0;
    top: 0;

    z-index: 10;

}

.content-values:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    border-top: 0.0625rem solid #c1c1c1;
}
