<div class="box-title">
    <div class="box-header-email">
        <h4>Email</h4>
    </div>
    <div class="email-wrapper">
        <mat-form-field appearance="fill" floatLabel="auto">
            <mat-label>Current email <span class="star">*</span></mat-label>
            <input matInput >
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="auto">
            <mat-label>New email1 <span class="star">*</span></mat-label>
            <input matInput >
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="auto">
            <mat-label>New email <span class="star">*</span></mat-label>
            <input matInput >
        </mat-form-field>
        
        <button mat-raised-button color="primary">Modifier</button>
    </div>
</div>
