<div class="box-title">
    <div class="box-header">
        <h4>Adresse de facturation</h4>
    </div>
    <div class="box-wrapper">
        <p class="box-wrapper-paragraph">Vous n'avez pass d'adreese de facturation </p>
        <button mat-raised-button color="primary">Modifier</button>
    </div>
    <form>
        <div class="material-billing-field">
            <mat-form-field appearance="fill" floatLabel="auto">
                <mat-label>Nom <span class="star">*</span></mat-label>
                <input matInput>
                <mat-hint>The name for the address</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="auto">
                <mat-label>Street <span class="star">*</span></mat-label>
                <input matInput>
                <mat-hint>l'addresse supleementaire</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="auto">
                <mat-label>Street(2) <span class="star">*</span></mat-label>
                <input matInput>
                <mat-hint>l'addresse supleementaire</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="auto">
                <mat-label>Code postal <span class="star">*</span></mat-label>
                <input matInput type="number">
                <mat-hint>L'addresse postle/ code postal.</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="auto">
                <mat-label>City <span class="star">*</span></mat-label>
                <input matInput>
                <mat-hint>La ville de i'adreese</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="auto">
                <mat-label>Region</mat-label>
                <input matInput>
                <mat-hint>La region, la provience ou i'etat de i'addresse.</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Pays <span class="star">*</span></mat-label>
                           <mat-select>
                    <mat-option value="option">Hindi</mat-option>
                    <mat-option value="option1">English</mat-option>
                </mat-select>
                <mat-hint>La pays de i'adreese</mat-hint>
            </mat-form-field>
        </div>
        <button mat-raised-button class="mui-button" >Modifier</button>
    </form>
</div>