<section class="section">
    <div class="container">

        <h1 class="mainTitle icon icon-command">
            DÉTAILS DE LA COMMANDE VENDEUR</h1>
        <div class="contentCommande">
            <div class="leftCommande">
                <div class="btnVendeur">
                    <a href="#" class="linkMore blue" style="color: #ffffff !important;">étiquette d'expédition</a>
                    <a href="#" class="linkMore yellow" style="color: #ffffff !important;">Facture
                    </a>
                </div>
                <div class="wrapperBox">
                    <div class="box">
                        <div class="box_title">Adresse de livraison</div>
                        <div class="box_content">
                            <div class="info">
                                <span class="info_title">Test test</span>
                                <span class="info_title bold">12 rue 12</span>
                                <span class="info_title">Maroc</span>
                                <span class="info_title bold">Tel : +212058789641</span>
                                <span class="info_title">Tel : +212058789641</span>
                                <span class="info_title bold">Tel : +212058789641</span>
                                <span class="info_title">Tel : +212058789641</span>
                                <span class="info_title bold">Tel : +212058789641</span>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box_title">Adresse de facturation</div>
                        <div class="box_content">
                            <div class="info">
                                <span class="info_title">Test test</span>
                                <span class="info_title">12 rue 12</span>
                                <span class="info_title">Maroc</span>
                                <span class="info_title bold">Tel : +212058789641</span>
                                <span class="info_title">.billin</span>
                                <span class="info_title bold">.billing</span>
                                <span class="info_title">.city</span>
                                <span class="info_title bold">.couny</span>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box_title">Information</div>
                        <div class="box_content">
                            <div class="wrapperBox">
                                <div class="info">
                                    <!-- <span class="info_title trait"> {{'informationOrder.command_N' | translate}}</span> -->
                                    <span class="info_title trait">Commande N°</span>
                                    <span class="info_title bold blue">Vente</span>
                                </div>
                                <div class="info">
                                    <!-- <span class="info_title trait"> {{'informationOrder.Vente' | translate}}</span> -->
                                    <span class="info_title trait"> 78563241</span>
                                    <span class="info_title bold blue">Panier des sens</span>
                                </div>
                            </div>
                            <div class="wrapperBox">
                                <div class="info">
                                    <span class="info_title trait"> 'Date</span>
                                    <span class="info_title bold blue">Montant total</span>
                                </div>
                                <div class="info">
                                    <span class="info_title trait"> 30/10/2020</span>
                                    <span class="info_title bold blue">210,20 € </span>
                                </div>
                            </div>
                            <div class="wrapperBox">
                                <div class="info">
                                    <span class="info_title trait">Liste des articles commandé </span>
                                    <span class="info_title bold blue">
                                        urrency</span>
                                </div>
                                <div class="info">
                                    <span class="info_title trait">dfdfd</span>
                                    <span class="info_title bold blue">fs
                                        ddd </span>
                                </div>
                            </div>
                            <div class="wrapperBox">
                                <div class="info">
                                    <span class="info_title trait">fdd</span>
                                    <span class="info_title bold blue">dfdfdfdfd</span>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="box">
                        <div class="box_title">Liste des articles commandé</div>
                        <div class="box_content">
                            <div class="wrapperBox">
                                <div class="info">
                                    <span class="info_title trait"> ffggfgfg</span>
                                    <span class="info_title bold blue">fgfgfgfgf</span>
                                </div>
                                <div class="info">
                                    <span class="info_title trait"> gfgfgfgfgfg</span>
                                    <span class="info_title bold blue">fdssaasds</span>
                                </div>
                            </div>
                            <div class="wrapperBox">
                                <div class="info">
                                    <span class="info_title trait"> sdfsffddfds</span>
                                    <span class="info_title bold blue">sfsdfdfds</span>
                                </div>
                                <div class="info">
                                    <span class="info_title trait"> dsfdfsd</span>
                                    <span class="info_title bold blue">sdfsdfdsf</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="wrapperBox">
                    <div class="listeArticles">
                        <div class="headWallet">
                            <h3 class="title">Liste des articles commandé</h3>
                        </div>
                        <div class="line header">
                            <div class="item">
                                <!-- {{lines.product.label}} -->
                                Articles ou Désignation article
                            </div>
                            <div class="item">
                                Quantité</div>
                            <div class="item">Prix TTC</div>
                        </div>
                        <div>
                            <div>
                                <div class="item">

                                    <div class="title"> Gel douche test test</div>
                                    <ng-container>
                                        <ng-container class="subtxt">
                                            Personnalisation : test
                                            <span style="margin-left: 10%">

                                                
3</span>
                                        </ng-container>
                                        <span class="subtxt">
                                            14,70 €
                                        </span>
                                    </ng-container>
                                    <ng-container>
                                        <span class="subtxt">10,29 €
                                        </span>
                                    </ng-container>
                                </div>
                                <div class="item">ine.quantity</div>
                                <!-- <div class="item price">
                                    <span class="discount">{{line.unit_price_seller}}
                                        {{line.unit_price_buyer_currency}}</span>
                                    <span class="new-price">{{(line.unit_price_seller - line.discount) }}
                                        {{line.unit_price_seller_currency}}</span>

                                </div> -->
                                <div class="item price">
                                    <!-- discount a voir avec mehdi -->
                                    <ng-container>
                                        <span class="discount">.unit_price_sel
                                            e.unit_price_seller_currency</span>
                                        <span class="new-price">lin</span>
                                    </ng-container>
                                    <span class="new-price">ine.</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="line">

                                <div class="item">
                                    <div class="title"> ine.te</div>

                                    <ng-container>
                                        <ng-container class="subtxt">
                                            commandes.Personnalisa :
                                            <span style="margin-left: 10%">
                                                andes.qu </span>
                                        </ng-container>
                                        <span class="subtxt">commandes.Person</span>
                                    </ng-container>
                                    <ng-container>
                                        <span class="subtxt">ommandes.P :
                                            ping.unit_price_buye </span>
                                    </ng-container>


                                </div>
                                <div class="item">ine.quantity</div>
                                <div class="item price">
                                    <!-- discount a voir avec mehdi -->
                                    <ng-container>
                                        <span class="discount">ne.unit_price
                                        </span>
                                        <span class="new-price">ne.unit_price_buyer -

                                            ine.unit_price_b</span>
                                    </ng-container>
                                    <span class="new-price">line.unit_pric</span>
                                </div>
                            </div>
                        </div>
                        <hr style="width:100%; opacity: unset;text-align:left;margin-left:0">

                        <div class="line">
                            <div class="addLine">
                                <p>commandesddline </p>
                                <a href="#" class="addLine">+</a>
                            </div>

                            <!-- <a href="#">Valider</a> -->

                        </div>
                    </div>
                </div>
            </div>
            <div class="rightCommande">
                <div class="gridCommande">
                    <a class="linkMore blue" rel="nofollow" id="showPoppin"
                        style="border-radius: 0;color: #ffffff !important;">Contacter le vendeur </a>
                </div>
                <div class="gridCommande padt30">
                    <h3 class="subTitleCommande">vis sur la commande : </h3>
                    <img src="assets/medias/rating.jpg" alt="">
                </div>
                <div class="gridCommande padt30">
                    <h3 class="subTitleCommande">commandes.Av</h3>
                    <form action="#" class="sendMessaage">
                        <textarea rows="8" placeholder="Saisissez un commentaire"></textarea>
                        <button title="Valider" class="btn-send">butto</button>
                    </form>
                </div>
                <div class="gridCommande padt30">
                    <h3 class="subTitleCommande">commandes.Avis_vendeur</h3>
                    <form action="#" class="sendMessaage">
                        <textarea rows="8" placeholder="Saisissez un commentaire"></textarea>
                        <button title="Valider" class="btn-send">butt</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-message" id="modal-message-1">
        <div class="modal-message-title">
            <h3>commandes.Nouveau_m</h3>
        </div>
        <form>
            <div class="info">
                <input type="text" id="msg" placeholder='ghghgh' formControlName="body"
                    style="border: none;width: 80%;height: 60px;" />
                <!-- (click)="sendMessage()" -->
                <button title="Envoyer" class="send" type="submit"><i class="fal fa-paper-plane"></i></button>
                <div class="addFile">
                    <input type="file" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" id="addFile">
                    <label for="addFile"><i class="fal fa-file-alt" style="color: #f8c43d;"></i></label>
                </div>
                <div class="imgConversation" style="margin-left: 10px;">
                    <i class="fal fa-trash-alt"></i>
                    <img src="">
                </div>
                <div class="imgConversation withFile" style="max-width: 100%; margin-left: 10px;font-size: 12px;">
                    <span>
                        <i class="fal fa-trash-alt"></i>
                        fghfg
                    </span>
                </div>
            </div>
        </form>
        <div class="close"><i class="fal fa-times-circle"></i></div>
    </div>
</section>