/* .box {
    border: 1px solid #c1c1c1;
    border-radius: 0.3125rem;
    color: #4e4e4e;
    width: 100%;
    margin: 35px 0;
}

.box_title {
    padding: 0.3125rem 1.25rem;
    border-bottom: 0.0625rem solid #c1c1c1;
    border-radius: 0.3125rem 0.3125rem 0 0;
    color: #4e4e4e;
    align-items: center;
    display: flex;
}

.box_title h2 {
    font-size: 16px;
    font-family: HelveticaNeue;
    font-weight: 600;
    margin-bottom: 0;
}

.box_content {
    padding: 1.125rem 1.25rem 0.9375rem;
    flex-direction: column;
    position: relative;
}

.wrapperBox {
    width: 100%;
    padding-bottom: 1.25rem;

}

.wrapperBox input {
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #c1c1c1;
    width: 100%;
    font-size: 12px;
padding: 2px 0;
    position: relative;
    background-color: transparent;
}

.labelText {
    display: block;
    margin-bottom: 0px;
    font-size: .75rem;
    font-weight: 700;
}
.labelText span{
    font-size: 1rem;
    color: #d75a4a;
}
.textData:after {
    content: "http://www.noodra.com/shop/";
    font-family: HelveticaNeueBold;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 0.875rem;
    color: hsla(0, 0%, 47%, .5);
    font-size: .875rem;
}

.addFile {
    width: 100%;
}

.addfileWrapper {
    width: 100%;
}

.product {
    width: 30%;
    background-color: rgba(17, 37, 186, .7);
    position: relative;
    height: 200px;
    border-radius: 5px;
    border: 0.0625rem solid #c1c1c1;
}

.product label {
    display: flex;
    align-items: flex-end;
    height: 130px;
    justify-content: center;
    color: white;


}

.product::before {
    content: "\f067";
    position: absolute;
    top: 34%;
    left: 48%;
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 1.875rem;

}

.product input {
    display: none;
}

.wrapperBoxs {
    height: 200px;
    width: 100%;
    margin: 1.3rem 0;
    font-size: .75rem;
    font-weight: 600;
}

.searchBox {
    width: 100%;
    background-color: rgba(17, 37, 186, .7);
    height: 200px;
    margin-top: 20px;
    border-radius: 5px;
    height: 200px;
}
.bold{
    font-weight: 700;
    font-size: 0.75rem;
    
}

.searchBoxWrapper {
    position: relative;
    height: 200px;
   
}

.searchBoxWrapper::before {
    content: "\f067";
    position: absolute;
    top: 38%;
    left: 48%;
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 1.875rem;
}
.wrapperBoxDesc{
    width: 100%;
    margin-top: 4.5rem ;
  
}
.desclabel{
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 4px;
}
.required{
    font-size: 1rem;
    color: #d75a4a;
}
.wrapperBoxDesc textarea{
    width: 100%;
    border-bottom: .0625rem solid #c1c1c1;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 12px;
    background-color: transparent;
    
} */

.store-second-step {
    border: 1px solid #c1c1c1;
    border-radius: 0.3125rem;
    color: #4e4e4e;
    width: 100%;
    margin: 20px 0;
}

.store-second-step-heading {
    background: #efefef;
    padding: 0.3125rem 1.25rem;
    border-bottom: 0.0625rem solid #c1c1c1;
    border-radius: 0.3125rem 0.3125rem 0 0;
    color: #4e4e4e;
    justify-content: space-between;
    align-items: center;
}

.store-second-step-heading h4 {
    font-family: HelveticaNeue;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
}

.addFile {
    width: 100%;
}

.addFile h5 {
    font-size: 1rem;
}

.addFile p {
    font-size: .875rem;
    margin: 0;
}

.addfileWrapper {
    width: 100%;
}

.product {
    width: 28%;
    background-color: rgba(17, 37, 186, .7);
    position: relative;
    height: 200px;
    border-radius: 5px;
    border: 0.0625rem solid #c1c1c1;
}

.product label {
    display: flex;
    align-items: flex-end;
    height: 130px;
    justify-content: center;
    color: white;


}

.product::before {
    content: "\f067";
    position: absolute;
    top: 34%;
    left: 48%;
    font-family: Font Awesome\ 5 Pro;
    font-weight: 300;
    color: #fff;
    font-size: 1.875rem;

}

.product input {
    display: none;
}

.store-second-step-wrapper {
    padding: 20px;
}

.store-input {
    width: 100%;
}

.wrapperBoxs {
    /* height: 200px; */
    width: 100%;
    margin-top: 1.3rem;
    font-size: .75rem;
    font-weight: 600;
}

.wrapperBoxs p {
    font-size: .875rem;
    margin: 0;
}

.searchBox {
    width: 100%;
    background-color: rgba(17, 37, 186, .7);
    height: 200px;
    border-radius: 5px;
}

.bold {
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 1rem;
}

.searchBoxWrapper {
    position: relative;
    height: 200px;

}

.searchBoxWrapper::before {
    content: "\f067";
    position: absolute;
    top: 38%;
    left: 48%;
    font-family: Font Awesome\ 5 Pro;
    font-weight: 300;
    color: #fff;
    font-size: 1.875rem;
}

.radio-heading {
    margin-top: 1rem;
}

.radio-heading h5 {
    font-weight: 500;
    font-size: .95rem;
    margin: 0;
}

.store-input-second {
    width: 100%;
    margin: 10px 0;
}

.hint-input {
    font-size: .75rem;
}

/* ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0 !important;
} */
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #1125ba !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: blue !important;
}