<!-- <div class="box">
    <div class="box_title">
        <h2>Profile</h2>
    </div>
    <div class="box_content">
        <div class="wrapperBox">
            <div class="info">
                <label for="text" class="labelText">Nom de la boutique
                    <span class="require">*</span>
                </label>
                <input type="text" placeholder="" class="textData">
            </div>
        </div>
        <div class="addFile">
            <div class="addfileWrapper">
                <div class="product">
                    <input type="file" class="addProduct">
                    <label for="Ajouter une photo">Ajouter une photo</label>
                </div>
            </div>
        </div>
        <div class="wrapperBoxs">
            <div class="info">
                <label for="text" class="bold">Ajouter votre bannière</label>
            </div>
            <div class="searchBox">
                <div class="searchBoxWrapper"></div>
            </div>
        </div>
        <div class="wrapperBoxDesc">
            <div class="txtareas">
                <label for="desc" class="desclabel"> Description <span class="required">*</span></label>

                <textarea name="text" id="text" cols="30" rows="4"></textarea>
            </div>

        </div>
    </div>
</div> -->

<div class="store-second-step">
    <div class="store-second-step-heading">
        <h4>Botique</h4>
    </div>
    <div class="store-second-step-wrapper">
        <mat-form-field appearance="fill" class="store-input">
            <mat-label>Name</mat-label>
            <input matInput required value="http://www.noodra.com/shop/">
        </mat-form-field>

        <div class="addFile">
            <h5>Logo</h5>
            <div class="addfileWrapper">
                <div class="product">
                    <input type="file" class="addProduct">
                    <label for="Ajouter une photo">Ajouter une photo</label>
                </div>
            </div>
            <p>Logo de la botique. Sera montre au theme.</p>
        </div>
        <div class="wrapperBoxs">
            <div class="info">
                <label for="text" class="bold">Banner</label>
            </div>
            <div class="searchBox">
                <div class="searchBoxWrapper"></div>
            </div>
            <p>Logo de la botique. Sera montre au theme.</p>
        </div>
        <mat-checkbox class="radio-heading">
            <h5>Traduire automequiment description,mots cles</h5>
        </mat-checkbox>
        <div class="store-description">
            <mat-form-field appearance="fill" class="store-input-second">
                <mat-label>Description (English)</mat-label>
                <textarea matInput></textarea>
                <mat-hint class="hint-input">Pour que votere botique so demarque. donez-lui une description geniale.
                    C'est ce qui aeidera vos acheteurs a decouvir votre botique. Cela aidra egatement les acheteurs a
                    les trouver votre botique sur le web</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="store-input-second">
                <mat-label>Keywods (English)</mat-label>
                <input matInput>
                <mat-hint class="hint-input">Pour que votere botique so demarque. donez-lui une description geniale.
                    C'est ce qui aeidera vos acheteurs a decouvir votre botique. </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="store-input-second">
                <mat-label>Web Address </mat-label>
                <input matInput>
                <mat-hint class="hint-input">Pour que votere botique so demarque. donez-lui une description geniale.
                </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="store-input-second">
                <mat-label>Facebook </mat-label>
                <input matInput>

            </mat-form-field>
            <mat-form-field appearance="fill" class="store-input-second">
                <mat-label>Instagram</mat-label>
                <input matInput>

            </mat-form-field>


        </div>
    </div>

</div>