<ng-container>
    <h3 class="litiges-form-heading">Career unnouveau litige</h3>
    <mat-form-field appearance="fill" class="desc-filled">
        <mat-label class="label">Description</mat-label>
        <textarea matInput></textarea>
        <mat-hint class="hint">Decrivez ce qui vous amene a notre center de resoulation. Nous fernous de notre mieuxpour vous satisfaire.</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill" class="selection-field">
        <mat-label class="label">Query type <span class="star">*</span></mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <i class="fal fa-image"><span>Fichier</span> </i>
      <mat-hint class="hints">Decrivez ce qui vous amene a notre center .</mat-hint>
      <mat-form-field class="desc-filled">
        <mat-label class="label">Description <span class="star">*</span></mat-label>

        <input matInput >
      </mat-form-field>
      <div class="button-wrapper">
        <button mat-raised-button class="button-first">Annuler</button>
        <button mat-raised-button class="button-second">Valider</button>
      </div>
</ng-container>
