<!-- <div class="box">
    <div class="boxTitle">
        <h2>Adresse</h2>
    </div>
    <div class="boxContent">
        <div class="wrapperBox">
            <div class="info">
                <label for="text" class="infolang">Type de compte <span class="span">*</span></label>
                <div class="half">
                    <div class="item">
                        <input type="radio" id="1" class="radioButton">
                        <label class="radioLabel" for="text">
                            Particulier
                        </label>
                    </div>
                    <div class="item">
                        <input type="radio" id="1" checked class="radioButton">
                        <label class="radioLabel" for="text">
                            Professionnel
                        </label>
                    </div>
                </div>
            </div>
            <div class="infoAdd">
                <label for="address" class="infoAddLabel">Adresse <span class="span">*</span></label>
                <input type="text" name="address" id="address1" placeholder class="inputInfo">
                <input type="text" name="address" id="address2" placeholder class="inputInfo1">
            </div>
            <div class="infoMultipleAdd">
                <div class="infoMultiple">
                    <label for="" class="infoMulLabel">Code postale <span class="span">*</span>
                    </label>
                    <input type="text">
                </div>
                <div class="infoMultiple1">
                    <label for="" class="infoMulLabel">ville <span class="span">*</span>
                    </label>
                    <input type="text">
                </div><div class="infoMultiple2">
                    <label for="" class="infoMulLabel">Pays <span class="span">*</span>
                    </label>
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="terms-second-step">
    <div class="terms-second-step-heading">
        <h4>Ambessdaur</h4>
    </div>
    <div class="terms-second-step-wrapper">
        <mat-form-field class="example-full-width" appearance="fill" class="terms-input">
            <mat-label>Favorite food</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
</div>