.mainTitle {
    color: #1125ba;
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
    font-size: 1.375rem;
    line-height: 2.5625rem;
    font-family: HelveticaNeueBold;
    font-weight: 700;
    margin-bottom: 2.5rem;
    position: relative;
    margin-left: 1.875rem;
}
.mainTitle:after {
    content: "";
    position: absolute;
    left: 0;
    width: 3.125rem;
    height: 0.1875rem;
    background: #f8c43d;
    bottom: 0;
}

.btnVendeur {
  
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.second-button{
    background: #1125ba;
    padding: 0 2.5rem;
    border-radius: 3.125rem;
    color: #fff;
    font-family: HelveticaNeueLight;
    font-weight: 300;
    text-align: center;
    height: 2.375rem;
    line-height: 2.1875rem;
    font-size: 16px;
    /* transition: all .5s ease;
    box-shadow: inset 0 0 0 #f8c43d; */


}
.second-button:hover{
    /* background-color: #f8c43d; */
    /* transition: all .5s ease; */
    /* box-shadow: inset 0 0 0 #f8c43d; */
    box-shadow: inset 0 -3rem 0 #f8c43d;
    border: 1px solid #f8c43d;


}