
<h1 class="mainTitle" style="margin-left: 0;" >bouttranslat</h1>
<app-wallet-second-step></app-wallet-second-step>
<app-store-second-step ></app-store-second-step>
<div class="wrapperBox">
    <div class="box mgb30">
       <app-address-second-step></app-address-second-step>
    </div>
    <div class="box mgb30">
        <app-terms-second-step></app-terms-second-step>
    </div>
</div>
<!-- <app-ambassador-second-step ></app-ambassador-second-step> -->

<div class="btnVendeur" >
    <button mat-raised-button class="second-button">Continuer</button>
    <button mat-raised-button class="second-button">President</button>
</div>