<ng-container>
    <div class="event-wrapper">
        <div class="event-head">
            <h4>Compete bancaire europeen
            </h4>
        </div>
        <div class="event-data">
            <h3> Vous n'avez aucun compete bancaire europeen</h3>
        </div>
    </div>
    <div class="event-wrapper">
        <div class="event-head">
            <h4>Compete bancaire international
            </h4>
        </div>
        <div class="event-data">
            <h3> Vous n'avez aucun compete bancaire international</h3>
        </div>
    </div>
    <div class="event-wrapper">
        <div class="event-head">
            <h4>Paypal
            </h4>
        </div>
        <div class="event-data">
            <h3> Vous n'avez aucun compete Paypal</h3>
        </div>
    </div>
    <div class="event-wrapper">
        <div class="event-head">
            <h4>Western Union
            </h4>
        </div>
        <div class="event-data">
            <h3> Vous n'avez aucun compete Western Union</h3>
        </div>
    </div>


    <!-- blue button -->
    <div class="event-wrapper">
        <div class="event-head">
            <h4>Combien southaitez-vous transfer?
            </h4>
        </div>
        <div class="event-data">
            <mat-form-field appearance="fill" floatLabel="auto" class="mui-input">
                <mat-label>Street <span class="star">*</span></mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="event-wrapper">
        <div class="event-head">
            <h4>Combien southaitez-vous transfer?
            </h4>
        </div>
        <div class="event-data">
            <div class="radio-button">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1" class="mat-radio">
                        <strong> bancaire Européen (IBAN)</strong>
                        <span>Les virements bancaires sont effectués <strong>les mercredis.</strong> Ils sont
                            gratuits.</span>
                    </mat-radio-button>
                    <mat-radio-button value="2" class="mat-radio">
                        <strong> Compte bancaire International</strong>
                        <span>Les virements bancaires sont effectués <strong>les mercredis.</strong> et coutent 4% du
                            montant.</span>
                    </mat-radio-button>
                    <mat-radio-button value="3" class="mat-radio">
                        <strong> Paypal</strong>
                        <span>Les virements bancaires sont effectués <strong>les mercredis.</strong> et coutent 2% du
                            montant + 2,75 €.</span>
                    </mat-radio-button>
                    <mat-radio-button value="4" class="mat-radio-1">
                        <strong> Western Union</strong>
                        <span>Les virements Western Union peuvent prendre <strong>jusqu'à 10 jours.</strong> suivants la
                            date de demande et coutent 15 € (hors frais Western Union).
                            .</span>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
</ng-container>