<section class="section banner">
    <div class="banner-content">
        <h1>Millions of buyers are eager to find out what you are going to offer</h1>
        <a class="linkMore blue">Open your Noodra store</a>
    </div>
    <p class="down">
        <i class="fal fa-angle-double-down"></i>
    </p>
</section>
<section class="section steps-sallers" id="sellers">
    <div class="container">
        <h2 class="steps-sallers-title">Sell artwork inspired by your world all over the world.</h2>
        <ul>
            <li>
                <div class="picture">
                    <img src=" /assets/store.png" alt="">
                </div>
                <div class="content">
                    <h3 class="title">
                        1. Open your store for free
                    </h3>
                    <p class="desc">
                        Add as many products as you want, simply and in minutes.
                    </p>
                </div>
            </li>
            <li>
                <div class="picture">
                    <img src=" /assets/online-shopping1.png" alt="">
                </div>
                <div class="content">
                    <h3 class="title">
                        2. The buyer pays online directly
                    </h3>
                    <p class="desc">
                        You are notified by email and have 48 hours to confirm the order. Otherwise the buyer is
                        automatically refunded
                    </p>
                </div>
            </li>
            <li>
                <div class="picture">
                    <img src=" /assets/express-delivery1.png" alt="">
                </div>
                <div class="content">
                    <h3 class="title">
                        3. You ship
                    </h3>
                    <p class="desc">
                        Once the order is confirmed, the amount is credited to the virtual wallet, less the commission.
                        Otherwise the buyer is automatically refunded
                    </p>
                </div>
            </li>
            <li>
                <div class="picture">
                    <img src=" /assets/wallet.png" alt="">
                </div>
                <div class="content">
                    <h3 class="title">
                        4. You have the funds
                    </h3>
                    <p class="desc">
                        You can make transfers whenever you want to the account of your choice.
                    </p>
                </div>
            </li>
        </ul>
    </div>

</section>