<section class="section-histoire">
    <div class="small-container in-row align-items mgb60">
        <!-- globalPathService.getPath('assets/img/about.jpg') -->
        <div class="nd-flex-1"><img src="/assets/about.jpg" alt=""></div>
        <div class="nd-flex-1 pdl20">
            <h1 class="mainTitle mgb40 mgl0">
                NOODRA
            </h1>
            <p class="mgb20">
                Et si en un seul clic vous pouviez vous procurer cette lampe turque en métal gravé et perles de
                verre emblème du Grand Bazar d’Istanbul ? Ce tapis persan coloré aux extraits de racines de
                garance, de peaux de vigne et de cochenille ? Ces boucles d’oreilles péruviennes fabriquées à la
                main, héritage du peuple Inca ? Et si en un seul clic, vous pouviez découvrir, acheter et vendre
                tous les trésors cachés du monde ?
            </p>
            <p class="mgb20">
                Plus besoin de faire le tour du monde pour découvrir les spécialités de chaque pays, Noodra les
                déniche pour vous sur sa plateforme en ligne, un bazar virtuel du monde à portée de main !
            </p>
            <p class="mgb20">
                Nos vendeurs sont des artisans indépendants, des entrepreneurs alliant tradition et modernité,
                des designers audacieux qui oeuvrent à préserver et à exporter leur savoir-faire ancestral.
            </p>
            <p class="mgb20">
                Noodra signifie “rareté” car chaque produit sur sa plateforme est unique. Chaque produit a une
                histoire.... Alors? Une histoire, ça vous tente ?
            </p>
        </div>
    </div>
    <div class="small-container in-row align-items mgb60">
        <a href="category.html" class="linkMore blue center">Voir tous les produits</a>
    </div>
</section>