<div class="item-3">
    <h1 class="mainTitle">Charte vendeurs</h1>

    <div class="guideline">
        <div class="row">
            <h2>La tarification et les services Noodra</h2>
            <p>Créer sa boutique sur Noodra et approvisionner sa boutique de produit est gratuit. Seul une commision est
                appliquée sur les ventes réalisées.
                La commission est de 14% pour les non-affiliés et de 9% pour les affiliés. Contactez Noodra après la
                création de votre boutique pour connaître les conditions d'affiliation et devenir affilié.
            </p>
        </div>
        <div class="row">
            <h3>Création inspirées par les pays du monde</h3>
            <p>Tout produit remplissant les conditions suivantes est considéré une création inspirée par un pays en
                particulier:</p>
            <ol>
                <li>Les créations composées de matières artisanales du monde d'origine ou d'usage.</li>
                <li>Avec un message ou une signification claires et liés à un pays particulier ou à sa culture.</li>
                <li>Toutes créations que l’équipe Noodra accepte de qualifier de création d’inspiration d'un pays.</li>

            </ol>
        </div>
        <hr>
        <div class="row">
            <h2>Règlement sur le traitement des commandes</h2>
            <h3>1- Avant la commande</h3>
            <ol>
                <li>S’assurer que les photos reflètent bien les couleurs du produit.</li>
                <li>S’assurer que les dimensions sont mentionnées dans la description ou dans les attributs.</li>
                <li>S’assurer que les délais de livraison sont bien le nombre de jours maximum entre la
                    date de création de la commande et la réception par l’acheteur, y compris le délai de fabrication et
                    de préparation.</li>
                <li>Vérifier régulièrement les variations et stocks des produits mis en ligne pour éviter les
                    annulations de commandes.</li>
                <li>L’adresse de la boutique est considérée comme une adresse de retour produit par défaut.</li>

            </ol>
        </div>
        <div class="row">
            <h3>L’adresse de la boutique est considérée comme une adresse de retour produit par défaut.</h3>
            <ol>
                <li>Vous aurez 48h pour accepter la commande, sinon l’acheteur sera automatiquement remboursé sur son
                    portefeuille virtuel Noodra.</li>
                <li>En cas de refus et d’annulation, le vendeur doit donner une explication à l'acheteur.
                </li>
                <li>Au bout de 3 annulations consécutives, la boutique devient automatiquement invisible et le vendeur
                    doit la réactiver.</li>
                <li>Au bout de 10 annulations ou remboursements sur 30 jours, la boutique du créateur
                    peut être désactivée ou bloquée temporairement et à l’étude pour être définitivement
                    fermée.</li>

            </ol>
        </div>
        <div class="row">
            <h3>3- Après avoir accepté la commande - Statut "À Expédier"</h3>
            <ol>
                <li>S'il y a un retard de préparation de la commande, le créateur DOIT IMPERATIVEMENT PRÉVENIR
                    L’ACHETEUR.
                    si le client contacte le Service Client et demande une annulation de la commande.
                    Cette annulation pourra alors être faite par l'équipe Noodra sans prévenir le vendeur.</li>
                <li>Quand un acheteur contacte le vendeur, ce dernier a un maximum de 48h pour y répondre.
                    En cas de non réponse, l’acheteur peut contacter le Service Client et demander une annulation de la
                    commande, sans prévenir le vendeur.</li>
            </ol>
        </div>
        <div class="row">
            <h3>4- A l’expédition de la commande - Statut "Expédiée"</h3>
            <ol>
                <li>Ajouter un numéro de suivi lors d’une expédition est fortement recommandé.
                    Sinon, en cas de perte de colis ou de non réception, l’acheteur peut demander l’annulation et le
                    remboursement
                    intégral de la commande, car aucune preuve d’envoi n’est disponible.</li>
                <li>En cas de non réception de la commande , le vendeur doit lancer les démarches auprès de son
                    transporteur.
                    En cas d’envoi avec un numéro de suivi indiquant que le produit a été reçu, le créateur n’est pas
                    tenu de rembourser,
                    même si la cliente indique ne pas l’avoir reçu.</li>
            </ol>
        </div>
        <div class="row">
            <h3>5- Cas de retour de la commande pour échange ou annulation</h3>
            <ol>
                <li>Si un acheteur veut retourner un produit qui s’avère non conforme, les frais de retour sont à la
                    charge du vendeur.</li>
                <li>En cas de retour, le vendeur a un délai de 15 jours pour confirmer la réception du retour commande
                    ou prévenir qu’il ne l'a pas reçu. Sinon, le colis est considéré comme renvoyé.</li>
            </ol>
        </div>
        <div class="row">
            <h3>6- Définition d’un produit non conforme</h3>
            <p>Si le vendeur envoie un produit et qu’il s’avère être non conforme, il prend en charge les frais de
                retour et le remboursement est intégral.</p>
            <p>Tout produit remplissant ces conditions est considéré comme non conforme:</p>
            <ol>
                <li>le produit est arrivé endommagé.</li>
                <li>il y a un défaut de fabrication.</li>
                <li>le produit n’est pas le même que celui présenté sur la photo produit.</li>
                <li>les matières et les autres éléments descriptifs sont différents de la réalité.</li>
                <li>la couleur est différente que sur la photo du produit.</li>
            </ol>
        </div>
        <div class="btnVendeur">
            <button class="linkMore blue">Enregistrer et continuer</button>
        </div>
    </div>
</div>